<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hotel Details - Deal Hotel Book</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="javascript/head.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/screen.css" media="screen">
		<link rel="stylesheet" type="text/css" href="styles/print.css" media="print">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div id="root">
			<header id="top">
				<h1><a href="./" accesskey="h"></a></h1>
				<nav id="skip">
					<ul>
						<li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
						<li><a href="#content" accesskey="c">Skip to content (c)</a></li>
						<li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
					</ul>
				</nav>
				<nav id="nav">
					<ul class="primary">
						<li><a accesskey="1" href="index.html">Home</a> <em>(1)</em>
							<ul>
								<li><a href="hotel-list.html">Hotel List</a></li>
								<li><a href="hotel-details.html">Hotel Details</a></li>
								<li><a href="booking-view.html">Booking View</a></li>
								<li><a href="booking-confirm.html">Booking Confirm</a></li>
							</ul>
						</li>
						<li><a accesskey="6" href="#">Blog</a> <em>(2)</em>
							<ul>
								<li><a href="blog.html">Blog Listings</a></li>
								<li><a href="blog-article.html">Blog Single</a></li>
							</ul>
						</li>

						<li><a accesskey="7" href="contact.html">Contact</a> <em>(3)</em></li>
					</ul>
					<ul class="secondary">
						<li class="gb"><span>En</span>
							<ul>
								<li class="de"><a href="./">Deutsh</a></li>
								<li class="es"><a href="./">Español</a></li>
								<li class="fr"><a href="./">Français</a></li>
								<li class="pl"><a href="./">Polski</a></li>
							</ul>
						</li>
						<li><span>USD</span>
							<ul>
								<li><a href="./">EUR</a></li>
								<li><a href="./">GBP</a></li>
								<li><a href="./">CHF</a></li>
								<li><a href="./">PLN</a></li>
							</ul>
						</li>
					</ul>
					<p class="link-a"><a href="./">Login</a> <a href="./">Register</a></p>
				</nav>
				<form action="./" method="post" id="search">
					<fieldset>
						<legend>Search</legend>
						<p>
							<label for="sa">Search</label>
							<input type="text" id="sa" name="sa" required>
							<button type="submit">Submit</button>
						</p>
					</fieldset>
				</form>
				<p class="tel">Call us today <span>(84) - 868 868 888</span></p>
			</header>    
			<nav id="breadcrumbs">
				<ul>
					<li><a href="./">Home</a></li>
					<li><a href="./">Hotel</a></li>
					<li><a href="./">Teades City</a></li>
					<li>Sheraton Honoi Hotel</li>
				</ul>
			</nav>                
			<section id="content" class="cols-a">
				<article class="vcard">
					<header class="module-a">
						<h2 class="fn org">Sheraton Hanoi Hotel</h2>
						<p class="rating-a d">3/5</p>
						<p class="link"><a href="./">Return</a></p>
						<p class="addthis_toolbox addthis_default_style addthis_16x16_style"><span>Share:</span> <a class="addthis_button_email"></a> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a></p>
					</header>
					<div class="slider-a">
						<figure><img src="temp/693x283.gif"  alt="Placeholder" width="693" height="283"></figure>
						<figure><img src="http://placehold.it/693x283" alt="Placeholder" width="693" height="283"></figure>
						<figure><img src="http://placehold.it/693x283" alt="Placeholder" width="693" height="283"></figure>
					</div>
					<div class="tabs-a">
						<ul>
							<li>Overview</li>
							<li>Facilities</li>
							<li>Review</li>
						</ul>
						<div>
							<div>
								<p>Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Praesent quam diam, vulputate ut tempus vitae, tempus in diam. Nunc imperdiet felis ut ante sagittis consequat. Cras mi lorem, tincidunt id mollis at, feugiat in justo. Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Praesent quam diam, vulputate ut tempus vitae, tempus in diam. Nunc imperdiet felis ut ante sagittis consequat. Cras mi lorem, tincidunt id mollis at, feugiat in justo. Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Cras mi lorem, tincidunt id mollis at, feugiat in justo. Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Praesent quam diam, vulputate ut tempus vitae.</p>
								<ul class="list-b">
									<li><span>Check - In Time:</span> 12 : 00 am</li>
									<li><span>Check - Out Time:</span> 02 : 00 pm</li>
								</ul>
								<p class="adr"><span class="street-address">No.36 - Nguyen Chi Thanh - Dong Da</span>, <span class="locality">Hanoi</span>, <span class="country-name">Vietnam</span></p>
								<p class="tel">(+844) 93 668 2236</p>
								<p><a rel="external" class="url" href="http://seratonvietnam.com">www.seratonvietnam.com</a></p>
							</div>
							<div>
								<h3>Facilities</h3>
								<div class="triple-a">
									<ul>
										<li>Wifi</li>
										<li>Beachfront</li>
										<li>Hospital</li>
										<li>Flight</li>
									</ul>
									<ul>
										<li>Wifi</li>
										<li>Taxi &amp; car hire</li>
										<li>Ironing boad</li>
										<li>Coffee bars</li>
									</ul>
									<ul>
										<li>Karaoke</li>
										<li>Foot Massage</li>
										<li>Bars</li>
										<li>Airport Shuttle</li>
									</ul>
								</div>
								<h3>Activities</h3>
								<p>Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Praesent quam diam, vulputate ut tempus vitae, tempus in diam. Nunc imperdiet felis ut ante sagittis consequat. Cras mi lorem, tincidunt id mollis at, feugiat in justo. Suspendisse ligula est, imperdiet ac posuere eu, ullamcorper vel nisl. Praesent quam diam, vulputate ut tempus vitae, tempus in diam. Nunc imperdiet felis ut ante sagittis consequat. Cras mi lorem, tincidunt id mollis at, feugiat in justo. Suspendisse ligula est, imperdiet ac posuere..</p>
							</div>
							<div class="double-a">
								<div>
									<h3>Your Rating</h3>
									<ul class="rating-list-a">
										<li class="a">Clean <span>1/5</span></li>
										<li class="b">Location <span>2/5</span></li>
										<li class="c">Staff <span>3/5</span></li>
										<li class="d">Service <span>4/5</span></li>
										<li class="e">Comfort <span>5/5</span></li>
									</ul>
									<p class="scheme-f"><span>4/5</span> Lorem ipsum dolor sit amet, conse ctetur adipiscing elit Aliquam.</p>
								</div>
								<div>
									<h3>Gests Reviews</h3>
									<div class="scroller-a news-c">
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
										<article>
											<h4>Michael Lee <span>06 / Apry / 2012</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit nisl in est consectetur.</p>
										</article>
									</div>
								</div>
							</div>
							<div>
							
							</div>
						</div>
					</div>
				</article>
				<aside>
					<p class="scheme-a">36 - Nguyen Chi Thanh - Dong Da, Hanoi, Vietnam <iframe width="242" height="156" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=36+-+Nguyen+Chi+Thanh+-+Dong+Da,+Hanoi,+Vietnam&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.323926,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=36+Nguy%E1%BB%85n+Ch%C3%AD+Thanh,+Gi%E1%BA%A3ng+V%C3%B5,+Ba+Dinh+District,+Hanoi,+Wietnam&amp;t=m&amp;ll=21.025707,105.811729&amp;spn=0.012498,0.020857&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></p>
					<p class="scheme-b">Price From <span>$360 <span>/ Night</span></span></p>
					<form action="./" method="post" class="form-a">
						<fieldset>
							<legend>Booking form</legend>
							<p class="date-a">
								<span>
									<label for="faa">Check in</label>
									<input type="text" id="faa" name="faa" required>
								</span>
								<span>
									<label for="fab">Check Out</label>
									<input type="text" id="fab" name="fab" required>
								</span>
							</p>
							<p>Lorem ipsum dolor sit saelas met, ipsu consectetur adipi deese cing elit...</p>
							<ul class="check-a">
								<li><label for="faca">Single Room <span>$360 <span>/ night</span></span><input type="radio" id="faca" name="fac"></label></li>
								<li><label for="facb">Double Room <span>$450 <span>/ night</span></span><input type="radio" id="facb" name="fac"></label></li>
							</ul>
							<p class="select-a">
								<span>
									<label for="fad">Rooms</label>
									<select id="fad" name="fad">
										<option>01</option>
										<option>02</option>
										<option>03</option>
										<option>04</option>
										<option>05</option>
									</select>
								</span>
								<span>
									<label for="fae">Adults</label>
									<select id="fae" name="fae">
										<option>01</option>
										<option>02</option>
										<option>03</option>
										<option>04</option>
										<option>05</option>
									</select>
								</span>
								<span>
									<label for="faf">Child</label>
									<select id="faf" name="faf">
										<option>01</option>
										<option>02</option>
										<option>03</option>
										<option>04</option>
										<option>05</option>
									</select>
								</span>
							</p>
							<p class="scheme-c">Total Booking <span><span>$</span>720</span></p>
							<p class="submit"><button type="submit">Book now</button></p>
						</fieldset>
					</form>
				</aside>
			</section>
			<footer id="footer">
				<nav>
					<div class="vcard">
						<h3>Contact us <span class="fn org">Deal Hotel Book</span></h3>
						<ul class="list-a">
							<li><span>Tell</span> <span class="tel">(84) 888 888 888</span></li>
							<li><span>Email</span> <a class="email">contact//dealhotelbook/com</a></li>
							<li class="adr"><span>Add</span> <span class="street-address">Street</span>, <span class="locality">Hanoi</span> City, <span class="country-name">Vn</span></li>
						</ul>
					</div>
					<div>
						<h3>Support &amp; Help</h3>
						<ul>
							<li><a href="./">Payment options</a></li>
							<li><a href="./">FAQ</a></li>
							<li><a href="./">Privacy &amp; Policy</a></li>
						</ul>
					</div>
					<div>
						<h3>Information</h3>
						<ul>
							<li><a href="./">My account</a></li>
							<li><a href="./">Sit map</a></li>
							<li><a href="./">Order history</a></li>
						</ul>
					</div>
					<form action="./" method="post">
						<fieldset>
							<legend>Newsletter</legend>
							<p>Lorem emphasised est dolor sit ams...</p>
							<p>
								<label for="na">Enter your email</label>
								<input type="email" id="na" name="na" required>
								<button type="submit">Submit</button>
							</p>
						</fieldset>
					</form>
				</nav>
				<p>Copyright &copy; <span class="date">2013</span>. All rights reseved <a href="./">Deal Hotel Book</a></p>
				<ul id="social">
					<li class="rs"><a rel="external" href="./">RSS</a></li>
					<li class="tw"><a rel="external" href="./">Twitter</a></li>
					<li class="fl"><a rel="external" href="./">Flickr</a></li>
					<li class="fb"><a rel="external" href="./">Facebook</a></li>
				</ul>
			</footer>
		</div>
		<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;language=en"></script>
		<script type="text/javascript">
			head.js('javascript/jquery.min.js','javascript/jquery-ui.min.js','javascript/scripts.js','javascript/mobile.js')
		</script>
	</body>
</html>